name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: 현재 디렉터리 확인
        run: |
          echo "현재 디렉터리:"
          pwd
          echo "디렉터리 내 파일 목록:"
          ls -al

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: 환경변수 설정
        run: echo "${{ secrets.MY_APPLICATION_PROPERTIES}}" > ./src/main/resources/application.properties
        working-directory: /home/runner/work/orderApp13/orderApp13

      - name: application.properties 내용 출력
        run: |
          echo "application.properties 내용:"
          cat ./src/main/resources/application.properties
        working-directory: /home/runner/work/orderApp13/orderApp13

      - name: gradlew bootJar
        run: ./gradlew bootJar -Dorg.gradle.jvmargs="-Xms128m -Xmx512m"

      - name: Set execute permissions for JAR file
        run: chmod +x ./build/libs/*.jar

      - name: Copy jar to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ec2-user
          key: ${{ secrets.SSH_KEY }}
          port: 22
          source: "./build/libs/*.jar"
          target: "~"
          strip_components: 2

      - name: SSH Commands
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ec2-user
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script_stop: false
          script: |
            ps aux | grep java
            echo "Terminating existing Java processes..."
            pgrep -f 'java -jar orderApp13-0.0.1-SNAPSHOT.jar' | while read pid; do 
              echo "Terminating Java process with PID: $pid"
            done
              echo "Starting new Java process with nohup..."
              nohup java -Xms128m -Xmx512m -jar ~/*.jar > ~/app.log 2>&1 &
  
            # Java 프로세스 상태 확인
            sleep 5
            echo "Java process status:"
            pgrep -f 'java -jar'
